body {
	background-image: url('../images/dex-02.png');
	background-size: 250px;
	background-repeat: no-repeat;
	background-color: #c4002a;
	margin: 0px;
}
#dexDiv {
	height: 28px;
	background-color: #df0025;
	border-bottom: solid 1px #333333;
	margin-left: 250px;
}
#sprite {
	filter: brightness(0%);
}
.spriteReveal {
	filter: brightness(100%);
	animation-name: reveal;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
#pokemonHeight {
	width: 165px;
	height: 145px;
	margin: auto;
	padding-top: 20px;
	background: linear-gradient(45deg, transparent 15px, #e6e6e6 0) bottom left;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
div#pokemon {
	width: 125px;
	height: 125px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #99ccff;
}
div#pokemon img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content {
	width: 375px;
	text-align: center;
}
h1 {
	font-family: pokemon;
	font-size: 20pt;
	color: #ffcc03;
	letter-spacing: 3px;
	-webkit-text-stroke: 2px #3d57a2;
	margin-top: 75px;
}
#answers {
	letter-spacing: 1px;
	margin-top: 25px;
}
.answer {
	margin-top: 15px;
	width: 160px;
	margin-left: auto;
	margin-right: auto;
	font-family: zcool;
	font-size: 20px;
}
#countDown {
	font-family: zcool;
	margin-top: 30px;
}
@keyframes reveal {
	from {
		filter: brightness(0%);
	}
	to {
		filter: brightness(100%);
	}
}
@keyframes fadeIn {
	from {
		filter: opacity(0%);
	}
	to {
		filter: opacity(100%);
	}
}
@font-face {
	font-family: 'pokemon';
	src: url('../fonts/pokemon.ttf');
}
@font-face {
	font-family: 'zcool';
	src: url('../fonts/zcool.ttf');
}
